/*	Custom Styles
*	Editar de acordo com necessidades especificas de cada unidade.
*/

/*	Usar os comentários por seção, o ID do template (#uni) e a classe da seção para personalização ou somente o ID #uni para
*	estilos gerais.

Exempo:

*	/* UNIDADE * /
*	#uni .classe-personalizada {
*		color: #ccc;
*	}
*
*	/* DESAFIO * /
	#uni *	#uni .desafio .classe-personalizada {
*		background: #aaa;
*	}

*/


#uni.grd #cover:after {background: none!important;}

#uni .cover-title {
    width: 50%!important;
    word-break: break-word!important;
    margin-left: 0rem!important;
    padding: 3%!important;
    bottom: -2rem!important;
    vertical-align: bottom!important;
	/*color: #A45EBA!important;*/
    
}

#uni .cover-title>* {
    font-size: 7vmin!important;
}

#uni, #cover, .scroll-arrow, i, .icon a:hover{background-image:none!important;}

#uni #cover .scroll-arrow > * {color: #F49100!important;}

#uni .exercicios .questions-nav .questions-index [class*="active"] .pill {
    border-color: #0f96ae!important;
    background:  #0f96ae!important;
}

#uni .exercicios .questions-nav .questions-index :not([class*="active"]) .pill:hover {
    color: #0f96ae!important;
}

#uni .exercicios .donut-svg .circle-svg {stroke:#0f96ae!important;}

li .uk-disabled {color: #999999!important;}

#uni .resume-box >* {padding: 2rem!important;}

#uni #cover .scroll-arrow > * {color: #0f96ae!important;}

#uni .flat-list {padding-left: 2rem!important;}

.resume-content h4 {padding-left: 0.6rem!important;}   

#uni .referencias .ref-content li {	color: #444444;}

/* #uni .nav-fab .nav-fab-trigger {background-color: #EF7D00!important;} */
#uni .nav-fab .nav-fab-trigger {background-color: #EA5A33!important;}
								
.uk-tab>*>a {text-transform: none!important}


a {  word-wrap: break-word!important; } 

.txt-wordfind {text-transform: uppercase!important;}

#uni .exercicios .questions-nav .questions-index [class*="active"] .pill {
	border-color: #0f96ae!important;
	background: #0f96ae!important;
	color: #FFFFFF!important;
}
